// /*
// =============== 
// Fonts
// ===============
// */
// @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,700&display=swap");
// /*
// =============== 
// Variables
// ===============
// */

// :root {
//   --clr-primary-1: rgb(65,190,186);
//   --clr-primary-2: hsl(47, 100, 56);
//   --clr-primary-6: hsl(185, 57%, 50%);
//   --clr-primary-7: rgb(1, 7, 7);
//   --clr-primary-9: hsl(0, 33%, 99%);
//   --clr-grey-1: hsl(209, 61%, 16%);
//   --clr-grey-3: hsl(209, 34%, 30%);
//   --clr-grey-4: hsl(209, 28%, 39%);
//   --clr-grey-5: hsl(210, 22%, 49%);
//   --clr-grey-8: hsl(189, 31%, 80%);
//   --clr-grey-9: hsl(212, 33%, 89%);
//   --clr-grey-10: hsl(210, 36%, 96%);
//   --clr-green-dark: hsl(125, 67%, 35%);
//   --clr-red-dark: hsl(360, 67%, 44%);
//   --clr-red-light: hsl(360, 71%, 66%);
//   --clr-white: #fff;
//   --ff-primary: "Rubik", "sans-serif";
//   --ff-secondary: "Rubik", "sans-serif";
//   --transition: all 0.3s linear;
//   --spacing: 0.2rem; 
//   --radius: 0.25rem;
//   --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
//   --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
//   --max-width: 1170px;
//   --fixed-width: 700px;
//   --blogs_border: red;
// }
// /*
// =============== 
// Global Styles
// ===============
// */
// #font6 {
//   direction: ltr;
//   display: block;
//   height: 218px;
//   overflow: auto;
//   position: absolute;
//   right: 76px;
//   top: 15px;
//   width: 58%;
// }
// *,
// ::after,
// ::before {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
// body {
//   font-family: var(--ff-secondary);
//   background: var(--clr-white);
//   color: var(--clr-grey-1);
//   line-height: 1.5;
//   font-size: 0.875rem;
// }
// /* @media screen and (max-width: 800px) {
// body {height: 100vh;}
// } */

// ul {
//   list-style-type: none;
// }
// a {
//   text-decoration: none;
// }

// h1,
// h2,
// h3,
// h4 {
//   letter-spacing: var(--spacing);
//   text-transform: capitalize;
//   line-height: 1.25;
//   margin-bottom: 0.75rem;
//   font-family: var(--ff-primary);
// }
// h1 {
//   font-size: 3rem;
// }
// h2 {
//   font-size: 2rem;
// }
// h3 {
//   font-size: 1.25rem;
// }
// h4 {
//   font-size: 0.875rem;
// }
// p {
//   margin-bottom: 1.25rem;
//   color: var(--clr-grey-3);
// }
// @media screen and (min-width: 800px) {
//   h1 {
//     font-size: 4rem;
//   }
//   h2 {
//     font-size: 2.5rem;
//   }
//   h3 {
//     font-size: 1.75rem;
//   }
//   h4 {
//     font-size: 1rem;
//   }
//   body {
//     font-size: 1rem;
//   }
//   h1,
//   h2,
//   h3,
//   h4 {
//     line-height: 1;
//   }
// }
// /*  global classes */

// .btn {
//   text-transform: uppercase;
//   background: var(--clr-primary-1);
//   color: var(--clr-primary-9);
//   padding: 0.375rem 0.75rem;
//   letter-spacing: var(--spacing);
//   display: inline-block;
//   font-weight: 700;
//   -webkit-transition: var(--transition);
//   transition: var(--transition);
//   font-size: 0.875rem;
//   border: 2px solid transparent;
//   cursor: pointer;
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
//   border-radius: var(--radius);
// }
// .btn:hover {
//   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//   background: #222;
//   color: var(--clr-primary-1);
// }
// .center-btn {
//   display: block;
//   width: 12rem;
//   text-align: center;
//   margin: 0 auto;
//   margin-top: 8rem;
// }
// /* section */
// .section {
//   padding: 3rem 0;
// }

// .section-center {
//   width: 90vw;
//   margin: 0 auto;
//   max-width: 1170px;
// }
// @media screen and (min-width: 992px) {
//   .section-center {
//     width: 95vw;
//   }
// }
// /* added during recording */
// .underline {
//   width: 5rem;
//   height: 0.25rem;
//   margin-bottom: 1.25rem;
//   background: var(--clr-primary-1);
//   margin-left: auto;
//   margin-right: auto;
// }
// .section-title {
//   margin-top: 3rem;
//   margin-bottom: 2rem;
//   text-align: center;
// }
// .social-links {
//   margin-top: 2rem;
//   width: 15rem;
//   display: flex;
//   justify-content: space-between;
//   margin-right: 27.5vw;
// }
// .social-link {
//   font-size: 1.75rem;
//   color: var(--clr-primary-1);
//   transition: var(--transition);
// }
// .social-link:hover {
//   color: var(--clr-primary-6);
// }
// /*
// =============== 
// Navbar
// ===============
// */

// .navbar {
//   margin-top: 10px;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 7vh;
//   display: flex;
//   align-items: center;
//   z-index: 200;
// }
// .nav-header a{
//   height: 100%;
//   background-position: bottom;
//   background-size: contain;
//   max-width: 17vh;
// }
// .nav-logo {
//   transition-duration: 1s;
// }
// .nav-logo:hover {
// }
// .nav-name {
//   text-align: -webkit-center;
// }
// .nav-center {
//   width: 90vw;
//   max-width: 1210px;
//   margin: 0 auto;
// }
// .nav-header {
//   direction: ltr;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
// .nav-header img {
//   margin-top: 0.375rem;
//   margin-bottom: 0.375rem;
// }
// .toggle-btn {
//   font-size: 2rem;
//   background: transparent;
//   border-color: transparent;
//   color: var(--clr-black);
//   cursor: pointer;
//   transition: var(--transition);
// }
// .toggle-btn:hover {
//   color: var(--clr-primary-1);
// }
// .nav-links {
//   display: none;
// }
// @media screen and (min-width: 768px) and (min-height: 300px) {
//   .nav-logo{
//     margin-top: 1.3rem;
//     max-width: 15vh;
//   }
//   .toggle-btn {
//     display: none;
//   }
//   .nav-links {
//     display: flex;
//     justify-content: flex-end;
//   }
//   .nav-links li {
//     margin-right: 2rem;
//   }
//   .nav-links a {
//     text-transform: capitalize;
//     color: var(--clr-black);
//     font-weight: bold;
//     letter-spacing: var(--spacing);
//     transition: var(--transition);
//     padding: 0.5rem 0;
//   }
//   .nav-links a:hover {
//     box-shadow: 0px 2px var(--clr-primary-1);
//   }
//   .nav-center {
//     display: grid;
//     grid-template-columns: auto 1fr;
//     align-items: center;
//   }
// }

// @media screen and (min-width: 992px) {
//   .nav-logo {
//     margin-top: 1.8vh;
//     max-width: 10vh;
//   }
// }
// @media screen and (max-width: 780px) {
//   .nav-header a {
//     margin-top: 1rem;
//     margin-left: -1rem;
//   }

// }
// /*
// =============== 
// Sidebar
// ===============
// */
// .sidebar {
//   background: var(--clr-grey-10);
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 999;
//   display: grid;
//   place-items: center;
//   opacity: 0;
//   transition: var(--transition);
//   transform: translateX(-100%);
// }
// .show-sidebar {
//   opacity: 1;
//   transform: translateX(0);
// }
// .sidebar-links li {
//   opacity: 0;
// }
// .sidebar-links li a {
//   display: block;
//   text-align: center;
//   text-transform: capitalize;
//   color: var(--clr-grey-5);
//   letter-spacing: var(--spacing);
//   margin-bottom: 0.5rem;
//   font-size: 2rem;
//   transition: var(--transition);
//   border-radius: var(--radius);
// }
// .sidebar-links li a:hover {
//   background: var(--clr-primary-9);
//   color: var(--clr-primary-1);
// }
// .sidebar-icons {
//   margin-right: 0;
// }
// .close-btn {
//   position: absolute;
//   right: 4.75%;
//   top: 2.75%;
//   font-size: 2.5rem;
//   background: transparent;
//   border-color: transparent;
//   color: var(--clr-primary-1);
//   cursor: pointer;
// }
// @media screen and (min-width: 992px) {
//   .sidebar {
//     transform: translateX(-100%);
//   }
// }
// /*
// =============== 
// Sidebar Animation
// ===============
// */
// .sidebar-links li {
//   animation: slideRight 0.5s ease-in-out 0.3s forwards;
// }
// .sidebar-links li:nth-of-type(1) {
//   animation-delay: 0.25s;
// }
// .sidebar-links li:nth-of-type(2) {
//   animation-delay: 0.5s;
// }
// .sidebar-links li:nth-of-type(3) {
//   animation-delay: 0.75s;
// }
// .sidebar-links li:nth-of-type(4) {
//   animation-delay: 1s;
// }
// .sidebar-links li:nth-of-type(5) {
//   animation-delay: 1.25s;
// }
// @keyframes slideRight {
//   0% {
//     transform: translateX(-200px);
//     opacity: 0;
//   }
//   100% {
//     transform: translateX(0);
//     opacity: 1;
//   }
// }
// .sidebar-icons li {
//   opacity: 0;
//   animation: slideUp 0.5s ease-in-out 0.3s forwards;
// }
// .sidebar-icons li:nth-of-type(1) {
//   animation-delay: 0.25s;
// }
// .sidebar-icons li:nth-of-type(2) {
//   animation-delay: 0.5s;
// }
// .sidebar-icons li:nth-of-type(3) {
//   animation-delay: 0.75s;
// }
// .sidebar-icons li:nth-of-type(4) {
//   animation-delay: 1s;
// }
// .sidebar-icons li:nth-of-type(5) {
//   animation-delay: 1.25s;
// }
// @keyframes slideUp {
//   0% {
//     transform: translateY(200px);
//     opacity: 0;
//   }
//   100% {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

// /*
// =============== 
// Hero
// ===============
// */
// /* underline added to globals */
// .hero-container {
//   padding-top: 3%;
//   padding-bottom: 6rem;
//   justify-content: center;
//   align-content: center;
//   vertical-align: middle;
//   height: 107vh;
//   opacity: 1;
//   position: relative;
//   background: rgb(65,190,186);
//   background: linear-gradient(90deg, rgba(65,190,186,1) 0%, rgba(255,255,255,1) 0%, rgba(160,223,221,1) 100%, rgba(65,190,186,1) 100%);
// }

// .hero-bg {
//   opacity: 0.75;
//   height: 100%;
//   background-position: center;
//   background-size: cover;
// }
// .hero-center {
//   height: 100%;
//   display: grid;
//   align-items: center;
// }
// .hero-logo {
//   width: 210px;
//   height: 210px;
//   background-size: contain;
//   margin-right: auto;
//   margin-left: auto;
// }
// .hero .underline {
//   margin-bottom: 0.5rem;
//   margin-right: 0;
// }
// .hero-info {
//   padding-bottom: 20%;
//   z-index: 950;
//   justify-self: center;
// }
// .hero-img {
//   display: none;
// }
// .hero-info h4 {
//   color: black;
//   font-weight: bold;
// }
// .mainHeroDesc h3 {
//   color: var(--clr-primary-1);
// }
// .mainHeroDesc h1 {
//   color: black;
//   font-weight: bold;
//   font-family: monospace;
// }
// .hero-icons {
//   justify-items: flex-start;
// }
// .hero .btn {
//   margin-right: 35%;
//   justify-self: center;
//   margin-top: 1.25rem;
// }

// .particles_js{
//   position: absolute;
//   margin-top: -10vh;
//   z-index: 0;
// }
// #tsparticles{
//   width: 98vw;
//   height: 107vh;
// }
// .mainHeroDesc{
//   z-index: 1;
//   padding: 15%;
//   text-align: center;
// }
// @media screen and (max-width: 767px) {
//   .anchorArrow {
//     position: absolute;
//     right: 47%;
//     top: 80%;
//   }
//   #tsparticles{
//     width: 98vw;
//     height: 100vh;
//   }
//   .particles_js{
//     margin-top: -12.5vh;
//   }
//   .hero-container{
//     padding-top: calc(3rem + 72px);
//   }
// }
// @media screen and (min-width: 992px) {
//   .hero::before {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 65%;
//     bottom: 0;
//     background: var(--clr-white);
//   }
//   .hero-center {
//     grid-template-columns: repeat(12, 1fr);
//   }
//   .hero h4 {
//     font-size: 0.85rem;
//   }
//   .hero-info {
//     grid-row: 1/1;
//     grid-column: 3 / span 8;
//   }
//   .hero-img {
//     max-width: 33rem;
//     display: block;
//     grid-row: 1/1;
//     grid-column: 6/-1;
//   }
// }
// @media screen and (min-width: 1170px) {
//   .hero h4 {
//     font-size: 1rem;
//   }

//   .hero-info {
//     grid-column: 3 / span 8;
//   }

//   .hero h4 {
//     line-height: 1;
//   }
// }
// @media screen and (min-width: 500px) and (max-height: 768px) and (max-width: 1000) {
//   .particles_js {
//     top: 0;
//   }
//   .mainHeroDesc h1{
//     font-size: 2rem;
//   }
//   .mainHeroDesc h2{
//     font-size: 1.5rem;
//   }
//   .mainHeroDesc {
//     margin-top: -8rem;
//   }
//   .anchorArrow {
//     margin-top: 0;
//   }
//   .service {
//     max-height: 100vh !important;
//   }
//   .project-img {
//     height: 25rem !important;
//   }
// }
// @media screen and (min-width: 500px) and (max-height: 250px) {
//   .mainHeroDesc {
//     margin-top: -5rem;
//   }
//   .mainHeroDesc h1 {
//     font-size: 1.5rem;
//   }
//   .mainHeroDesc h2 {
//     font-size: 1.25rem;
//   }
//   .mainHeroDesc h3 {
//     font-size: 1.25rem;
//   }
//   .anchorArrow {
//     margin-top: -14% !important;
// }
// .about-text .underline {
//    margin-left: auto !important;
//    margin-right: auto !important;
// }
// .about-text .section-title {
//   text-align: center !important;
// }
// .about-text {
//   margin-top: -6rem;
// }
// .about-img {
//   height: 19rem !important;
// }
// .whatsapp {
//   bottom: 15% !important;
// }
// .service-icon {
//   font-size: 1.5rem !important;
//   margin-bottom: 0 !important;
// }
// .service {
//   max-height: 85% !important;
//   height: 100% !important;
//   padding: 1rem 1rem !important;
// }
// .service p {
//   font-size: 0.85rem !important;
// }
// }
// /*
// =============== 
// `services
// ===============
// */
// .services_section {
//   background-attachment: fixed;
//   background-position: center;
// }
// .service {
//   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//   border-radius: 15px;
//   height: auto;
//   min-height: fit-content;
//   max-height: 52vh;
//   padding: 3rem 1.5rem; 
//   margin-bottom: 2rem;
//   text-align: center;
// }
// .service:hover {
//   box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px;
// }
// .service-icon {
//   color: var(--clr-primary-7);
//   font-size: 2.5rem;
//   margin-bottom: 1.5rem;
// }
// .service .underline {
//   color: var(--clr-white);
//   width: 3rem;
//   height: 0.12rem;
//   -webkit-transition: var(--transition);
//   transition: var(--transition);
// }
// .service p {
//   font-size: 1.05rem;
//   -webkit-transition: var(--transition);
//   transition: var(--transition);
// }
// .service h4 {
//   color: #222;
//   font-size: 1.2rem;
// }
// @media screen and (min-width: 676px) {
//   .service {
//     height: auto;
//     max-height: 80vh;
//   }
//   .services-center {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     -webkit-column-gap: 2rem;
//     -moz-column-gap: 2rem;
//     column-gap: 2rem;
//   }
// }
// @media screen and (min-width: 992px) {
//   .service {
//     min-height: fit-content;
//     height: 50vh;
//   }
//   .services-center {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
// @media screen and (min-height: 800px) {
//   .service {
//     min-height: fit-content;
//     height: 32vh;
//     padding-top: 1.5rem;
//   }
// }

// /*
// =============== 
// Jobs
// ===============
// */
// /* 
// .jobs {
//   background: var(--clr-primary-1);
// }
// .jobs-center {
//   width: 80vw;
//   margin: 0 auto;
//   max-width: var(--max-width);
// }
// .btn-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   margin-bottom: 4rem;
// }
// .job-btn {
//   font-family: var(--ff-primary);
//   background: transparent;
//   color: var(--clr-white);
//   border-color: transparent;
//   text-transform: capitalize;
//   font-size: 1.25rem;
//   letter-spacing: var(--spacing);
//   margin: 0 0.5rem;
//   transition: var(--transition);
//   cursor: pointer;
//   padding: 0.25rem 0;
//   line-height: 1;
// }
// .job-btn:hover {
//   color: var(--clr-primary-1);
// }
// .active-btn {
//   color: var(--clr-primary-1);
// }
// .job-info {
//   min-width: 100px;
// }
// .jobs h2 {
//   color: var(--clr-white);
// }
// .job-info h3 {
//   color: var(--clr-white);
//   font-weight: 400;
// }
// .job-info h4 {
//   text-transform: uppercase;
//   color: var(--clr-grey-5);
//   background: var(--clr-white);
//   display: inline-block;
//   padding: 0.375rem 0.75rem;
//   border-radius: var(--radius);
// }
// .job-date {
//   color: var(--clr-primary-1);
//   letter-spacing: var(--spacing);
//   max-width: fit-content;
// }
// .job-desc {
//   display: grid;
//   grid-template-columns: auto 1fr;
//   column-gap: 2rem;
//   align-items: center;
//   margin-bottom: 1.25rem;
// }
// .job-desc p {
//   margin-bottom: 0;
//   color: var(--clr-white);
// }
// .job-icon {
//   color: var(--clr-primary-1);
// }
// @media screen and (min-width: 992px) {
//   .job-info {
//     width: 50vw;
//   }
//   .jobs-center {
//     width: 90vw;
//     display: grid;
//     grid-template-columns: 200px 1fr;
//     column-gap: 4rem;
//   }
//   .btn-container {
//     flex-direction: column;
//     justify-content: flex-start;
//   }
//   .job-btn {
//     margin-bottom: 1rem;
//   }
// }
// .profile-img {
//   max-width: 8vw;
//   border-radius: 10px;
//   margin: auto;
// }
// @media screen and (min-width: 1200px) {
//   .profile-img {
//     max-width: 5vw;
//   }
// } */
// /*
// =============== 
// Projects
// ===============
// */
// .projects-page .projects {
// background: none;
// }
// .project {
//   display: grid;
//   margin-bottom: 4rem;
// }
// .project-img {
//   border-top-left-radius: var(--radius);
//   border-top-right-radius: var(--radius);
//   height: 19rem;
//   z-index: 1;
// }
// .project-img::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: linear-gradient(to bottom right, var(--clr-primary-1), #222);
//   opacity: 0.85;
//   transition: var(--transition);
// }
// .project:hover .project-img::after {
//   opacity: 0;
// }
// .project-info {
//   opacity: 0.8;
//   font-size: 1.2rem;
//   background: var(--clr-white);
//   padding: 1rem 2rem;
//   border-bottom-left-radius: var(--radius);
//   border-bottom-right-radius: var(--radius);
// }
// .project-number {
//   display: inline-block;
//   font-size: 1.25rem;
//   color: var(--clr-primary-1);
//   margin-bottom: 0.75rem;
// }
// .projects h2 {
//   color: var(--clr-black);
// }
// .project-info h3 {
//   color: black;
//   font-weight: bold;
//   margin-bottom: 1.5rem;
//   font-size: 1.5rem;
// }
// .project-desc {
//   /* word-spacing: 5px; */
//   color: var(--clr-grey-3);
// }
// .project-stack {
//   margin-bottom: 1rem;
// }
// .project-stack span,
// .about-stack span {
//   display: inline-block;
//   background: var(--clr-grey-9);
//   color: var(--clr-grey-5);
//   margin-right: 0.5rem;
//   margin-bottom: 0.5rem;
//   padding: 0.25rem 0.5rem;
//   border-radius: var(--radius);
//   text-transform: uppercase;
//   letter-spacing: 2px;
//   font-size: 0.85rem;
// }
// .about-stack span {
//   margin-top: 0.5rem;
// }
// .project-icon {
//   color: var(--clr-primary-1);
//   font-size: 1.25rem;
//   margin-right: 0.5rem;
//   transition: var(--transition);
// }
// .project-icon:hover {
//   color: var(--clr-primary-1);
// }
// @media screen and (max-width: 768px) {
//   .project-info {
//     margin-top: -50%;
//     z-index: 2;
//   }
//   .mainHeroDesc h1{
//     font-size: 2rem;
//   }
//   .mainHeroDesc h2{
//     font-size: 1.5rem;
//   }
// }
// @media screen and (min-width: 768px) {
//   .project-img {
//     height: 22rem;
//   }
// }
// @media screen and (min-width: 992px) {
//   .project {
//     grid-template-columns: repeat(12, 1fr);
//     align-items: center;
//   }
//   .project-img {
//     grid-column: 1 / span 8;
//     grid-row: 1 / 1;
//     height: 30rem;
//     border-radius: var(--radius);
//     box-shadow: var(--dark-shadow);
//   }
//   .project-info {
//     border-radius: var(--radius);
//     box-shadow: var(--dark-shadow);

//     z-index: 1;
//     grid-column: 5 /12;
//     grid-row: 1 / 1;
//   }
//   .project:nth-of-type(even) .project-img {
//     grid-column: 5 / -1;
//     grid-row: 1 / 1;
//   }
//   .project:nth-of-type(even) .project-info {
//     grid-column: 2 / span 7;
//     grid-row: 1 / 1;
//     text-align: left;
//   }
// }

// /*
// =============== 
// Blog
// ===============
// */
// .blog-template {
//   background-attachment: fixed;
//   background-position: center;
//   min-height: calc(100vh - 8.5rem - -1.5rem) !important;
// }
// .blog-content {
//   box-shadow: var(--dark-shadow);
//   font-size: 1.2rem;
//   border-radius: 0 0 0.6rem 0.6rem;
//   padding: 1rem 2rem;
//   background: rgba(255, 255, 255, 0.8);
// }
// @media screen and (min-width: 568px) {
// .blog-content {
//   border-radius: 0.6rem;
// }
// }
// .blog-content p {
//   color: black;
// }
// .blogs-container {
//   background-attachment: fixed;
//   background-position: center;
//   background-image: linear-gradient(56deg, rgba(254, 254, 254, 0.05) 0%, rgba(254, 254, 254, 0.05) 69%,rgba(160, 160, 160, 0.05) 69%, rgba(160, 160, 160, 0.05) 100%),linear-gradient(194deg, rgba(102, 102, 102, 0.02) 0%, rgba(102, 102, 102, 0.02) 60%,rgba(67, 67, 67, 0.02) 60%, rgba(67, 67, 67, 0.02) 100%),linear-gradient(76deg, rgba(169, 169, 169, 0.06) 0%, rgba(169, 169, 169, 0.06) 89%,rgba(189, 189, 189, 0.06) 89%, rgba(189, 189, 189, 0.06) 100%),linear-gradient(326deg, rgba(213, 213, 213, 0.04) 0%, rgba(213, 213, 213, 0.04) 45%,rgba(66, 66, 66, 0.04) 45%, rgba(66, 66, 66, 0.04) 100%),linear-gradient(183deg, rgba(223, 223, 223, 0.01) 0%, rgba(223, 223, 223, 0.01) 82%,rgba(28, 28, 28, 0.01) 82%, rgba(28, 28, 28, 0.01) 100%),linear-gradient(3deg, rgba(20, 20, 20, 0.06) 0%, rgba(20, 20, 20, 0.06) 62%,rgba(136, 136, 136, 0.06) 62%, rgba(136, 136, 136, 0.06) 100%),linear-gradient(200deg, rgba(206, 206, 206, 0.09) 0%, rgba(206, 206, 206, 0.09) 58%,rgba(6, 6, 6, 0.09) 58%, rgba(6, 6, 6, 0.09) 100%),linear-gradient(304deg, rgba(162, 162, 162, 0.07) 0%, rgba(162, 162, 162, 0.07) 27%,rgba(24, 24, 24, 0.07) 27%, rgba(24, 24, 24, 0.07) 100%),linear-gradient(186deg, rgba(166, 166, 166, 0.04) 0%, rgba(166, 166, 166, 0.04) 5%,rgba(210, 210, 210, 0.04) 5%, rgba(210, 210, 210, 0.04) 100%),linear-gradient(90deg, rgb(29, 109, 106),rgb(60, 170, 166),rgb(65,190,186));
// }
// .blogs-container h2 {
//   color: white;
// }
// .blog {
//   display: block;
//   margin-bottom: 2rem;
//   background-position: center;
//   background-attachment: fixed;
//   background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));  border-radius: var(--radius);
//   box-shadow: var(--light-shadow);
//   transition: var(--transition);
// }
// .blog:hover {
//   box-shadow: var(--dark-shadow);
//   transform: scale(1.02);
// }
// .blog article {
//   border-radius: 10px;
//   height: 100%;
//   display: grid;
//   grid-template-rows: auto 1fr;
// }

// .blog  {
//   border-radius: 15px;
//   transition: all 300ms ease-in-out;
//   z-index: 1;
//   width: 100%;
//   overflow: hidden;
//   position: relative; }

// .blog :before {
//   bottom: 0;
//   right: 0;
//   border-bottom: 4px solid var(--clr-primary-1);
//   border-right: 4px solid var(--clr-primary-1); 
// }

// .blog :after, .blog:before {
//   content: '';
//   width: 0;
//   height: 0;
//   visibility: hidden;
//   position: absolute;
//   transition: all 800ms ease-in-out;
//   border-radius: 8px; 
// }

// .blog :after {
//   top: 0;
//   left: 0;
//   border-top: 4px solid var(--clr-primary-1);
//   border-left: 4px solid var(--clr-primary-1);
//  }

// .blog :hover:after, .blog :hover:before {
//   width: 100%;
//   height: 100%;
//   visibility: visible; 
// }
// .blog-card {
//   background-position: center;
//   background-attachment: fixed;
//   background-image: linear-gradient(216deg, rgba(65,190,186,1) 0%, rgba(65,190,186,1) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(65,190,186,1) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(65,190,186,1) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));
//   display: grid;
//   grid-template-rows: auto 1fr auto;
// }
// .inner-blog-img {
//   margin-top: -3rem;
//   background-position: center;
//   background-attachment: fixed;
// }
// .blog-img {
//   height: 15rem;
// }
// .blog-card {
//   padding: 1.5rem 1rem;
// }
// .blog-card h4{
//   color: white;
// }
// .blog-card p{
//   color: white;
// }
// .blog-footer {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
// .blog-footer p {
//   margin-bottom: 0;
//   font-weight: bold;
//   color: white;
// }
// .blog-footer p:first-of-type {
//   display: inline-block;
//   background: var(--clr-grey-9);
//   color: var(--clr-grey-5);
//   margin-right: 0.5rem;
//   padding: 0.25rem 0.5rem;
//   text-transform: uppercase;
//   letter-spacing: 2px;
//   font-size: 0.85rem;
// }
// @media screen and (max-width: 776px) {
// .blog-center {
//   padding-top: 0 !important;
// }
// }
// @media screen and (min-width: 576px) {
//   .blog-center {
//     padding-top: 0 !important;
//   }
//   .inner-blog-img {
//   width: 50%;
//   margin: auto;
//   }
//   .blogs-center {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
//     column-gap: 2rem;
//   }
//   .blog-img {
//     height: 17.5rem;
//   }
// }
// @media screen and (min-width: 850px) {
//   .blog-img {
//     height: 13.75rem;
//   }
//   .inner-blog-img {
//     height: 20rem;
//   }
// }

// @media screen and (min-width: 1680px) {
// .inner-blog-img {
//   width: 40%;
//   }
// }
// /*
// ===============
// Footer
// ===============
// */
// .footer {
//   bottom: 0;
//   background: #222;
//   text-align: center;
//   display: grid;
//   place-items: center;
// }
// .footer h3 {
// padding-top: 1.25rem;
// }
// .footer h4 {
//   margin-top: 0.5rem;
//   color: var(--clr-white);
//   font-weight: normal;
//   text-transform: uppercase;
// }
// .footer h4 span {
//   color: var(--clr-primary-1);
// }
// .footer-links {
//   padding-top: 10px;
//   margin: 0 auto 0 auto;
// }
// .footer .social-link {
//   color: var(--clr-white);
// }
// .footer .social-link:hover {
//   color: var(--clr-primary-6);
// }
// .footer-navlinks {
//   color: var(--clr-white);
//   padding-top: 1rem;
// }
// .footer-navlinks:hover {
//   color: cadetblue;
// }
// .footer-navlinks {
//   padding-bottom: 1rem;
// }
// /*
// ===============
// Pages
// ===============
// */
// .blog-template,
// .projects-page,
// .blog-page,
// .error-page,
// .about-page,
// .contact-page,
// .discount-page {
//   background-attachment: fixed;
//   background-position: center;
//   background: linear-gradient(56deg, rgba(254, 254, 254, 0.05) 0%, rgba(254, 254, 254, 0.05) 69%,rgba(160, 160, 160, 0.05) 69%, rgba(160, 160, 160, 0.05) 100%),linear-gradient(194deg, rgba(102, 102, 102, 0.02) 0%, rgba(102, 102, 102, 0.02) 60%,rgba(67, 67, 67, 0.02) 60%, rgba(67, 67, 67, 0.02) 100%),linear-gradient(76deg, rgba(169, 169, 169, 0.06) 0%, rgba(169, 169, 169, 0.06) 89%,rgba(189, 189, 189, 0.06) 89%, rgba(189, 189, 189, 0.06) 100%),linear-gradient(326deg, rgba(213, 213, 213, 0.04) 0%, rgba(213, 213, 213, 0.04) 45%,rgba(66, 66, 66, 0.04) 45%, rgba(66, 66, 66, 0.04) 100%),linear-gradient(183deg, rgba(223, 223, 223, 0.01) 0%, rgba(223, 223, 223, 0.01) 82%,rgba(28, 28, 28, 0.01) 82%, rgba(28, 28, 28, 0.01) 100%),linear-gradient(3deg, rgba(20, 20, 20, 0.06) 0%, rgba(20, 20, 20, 0.06) 62%,rgba(136, 136, 136, 0.06) 62%, rgba(136, 136, 136, 0.06) 100%),linear-gradient(200deg, rgba(206, 206, 206, 0.09) 0%, rgba(206, 206, 206, 0.09) 58%,rgba(6, 6, 6, 0.09) 58%, rgba(6, 6, 6, 0.09) 100%),linear-gradient(304deg, rgba(162, 162, 162, 0.07) 0%, rgba(162, 162, 162, 0.07) 27%,rgba(24, 24, 24, 0.07) 27%, rgba(24, 24, 24, 0.07) 100%),linear-gradient(186deg, rgba(166, 166, 166, 0.04) 0%, rgba(166, 166, 166, 0.04) 5%,rgba(210, 210, 210, 0.04) 5%, rgba(210, 210, 210, 0.04) 100%),linear-gradient(90deg, rgb(29, 109, 106),rgb(60, 170, 166),rgb(65,190,186));
//   min-height: calc(100vh - 5rem - -1.5rem);
// }
// .error-page {
//   display: grid;
//   place-items: center;
//   background: var(--clr-primary-1);
//   text-align: center;
// }
// .error-page h1 {
//   text-transform: uppercase;
//   color: var(--clr-primary-1);
//   margin-bottom: 2rem;
// }
// /*
// ===============
// Blog Page
// ===============
// */
// .blog-page .blog {
//   background: var(--clr-white);
// }
// /*
// ===============
// About Page
// ===============
// */
// .about-page {
//   min-height:20vh;
//   background: white;
// }
// .about-img {
//   background-repeat: no-repeat;
//   overflow: hidden;
//   background-size: contain;
//   background-attachment:scroll;
//   background-position: center;
//   width: 100%;
//   margin-bottom: 2rem;
//   height: 25rem;
// }
// .about-text .section-title {
//   color: black;
//   margin-bottom: 2rem;
//   text-align: right;
// }
// .about-text .underline {
//   margin-left: 0;
//   margin-right: 0;
// }
// .about-text p {
//   color: black;
//   line-height: 2;
// }
// .stack-container {
//   width: 30rem;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   row-gap: 0.5rem;
// }
// .stack-container span {
//   text-transform: uppercase;
//   display: flex;
//   align-items: center;
//   letter-spacing: 1px;
//   color: var(--clr-grey-4);
// }
// .stack-icon {
//   color: var(--clr-primary-1);
//   margin-right: 0.25rem;
//   font-size: 1rem;
// }
// @media screen and (max-width: 782px) {
//   .about-img {
//     margin-bottom: -4rem;
//     margin-top: -1.2rem;
//     background-repeat: no-repeat;
//     height: 17rem;
//   }
//   .about-text .section-title {
//     text-align: center;
//   }
//   .about-text .underline {
//     margin-right: auto;
//     margin-left: auto;
//   }
// }
// @media screen and (min-width: 992px) {
//   .about-center {
//     display: grid;
//     grid-template-columns: repeat(12, 1fr);
//     align-items: center;
//     column-gap: 4rem;
//   }
//   .about-img {
//     grid-column: 1 / span 5;
//     margin-bottom: 0;
//   }
//   .about-text {
//     grid-column: 6 / -1;
//   }
// }
// /*
// ===============
// Contact Page
// ===============
// */
// .contact-page {
//   display: grid;
//   place-items: center;
//   padding: 5rem 0;
// }
// .contact-form {
//   margin: auto;
//   border-radius: var(--radius);
//   text-align: center;
//   box-shadow: var(--light-shadow);
//   transition: var(--transition);
//   width: 90vw;
//   max-width: 23rem;
// }
// .contact-form:hover {
//   box-shadow: var(--dark-shadow);
// }
// .contact-form h3 {
//   padding-top: 1.25rem;
//   color: var(--clr-grey-5);
// }
// .form-group {
//   padding: 0.5rem 1rem;
// }
// .form-control {
//   display: block;
//   width: 100%;
//   padding: 0.45rem 0.5rem;
//   border: none;
//   margin-bottom: 1rem;
//   background: var(--clr-grey-10);
//   border-radius: var(--radius);
//   text-transform: uppercase;
//   letter-spacing: var(--spacing);
// }
// .form-control::placeholder {
//   font-family: var(--ff-primary);
//   color: var(--clr-grey-1);
//   text-transform: uppercase;
//   letter-spacing: var(--spacing);
// }
// .submit-btn {
//   display: block;
//   width: 100%;
//   padding: 1rem;
//   border-bottom-left-radius: var(--radius);
//   border-bottom-right-radius: var(--radius);
//   border-top-right-radius: 0;
//   border-top-left-radius: 0;
// }
// /*
// ===============
// Blog Template
// ===============
// */
// .blog-template {
//   background-image: linear-gradient(56deg, rgba(254, 254, 254, 0.05) 0%, rgba(254, 254, 254, 0.05) 69%,rgba(160, 160, 160, 0.05) 69%, rgba(160, 160, 160, 0.05) 100%),linear-gradient(194deg, rgba(102, 102, 102, 0.02) 0%, rgba(102, 102, 102, 0.02) 60%,rgba(67, 67, 67, 0.02) 60%, rgba(67, 67, 67, 0.02) 100%),linear-gradient(76deg, rgba(169, 169, 169, 0.06) 0%, rgba(169, 169, 169, 0.06) 89%,rgba(189, 189, 189, 0.06) 89%, rgba(189, 189, 189, 0.06) 100%),linear-gradient(326deg, rgba(213, 213, 213, 0.04) 0%, rgba(213, 213, 213, 0.04) 45%,rgba(66, 66, 66, 0.04) 45%, rgba(66, 66, 66, 0.04) 100%),linear-gradient(183deg, rgba(223, 223, 223, 0.01) 0%, rgba(223, 223, 223, 0.01) 82%,rgba(28, 28, 28, 0.01) 82%, rgba(28, 28, 28, 0.01) 100%),linear-gradient(3deg, rgba(20, 20, 20, 0.06) 0%, rgba(20, 20, 20, 0.06) 62%,rgba(136, 136, 136, 0.06) 62%, rgba(136, 136, 136, 0.06) 100%),linear-gradient(200deg, rgba(206, 206, 206, 0.09) 0%, rgba(206, 206, 206, 0.09) 58%,rgba(6, 6, 6, 0.09) 58%, rgba(6, 6, 6, 0.09) 100%),linear-gradient(304deg, rgba(162, 162, 162, 0.07) 0%, rgba(162, 162, 162, 0.07) 27%,rgba(24, 24, 24, 0.07) 27%, rgba(24, 24, 24, 0.07) 100%),linear-gradient(186deg, rgba(166, 166, 166, 0.04) 0%, rgba(166, 166, 166, 0.04) 5%,rgba(210, 210, 210, 0.04) 5%, rgba(210, 210, 210, 0.04) 100%),linear-gradient(90deg, rgb(29, 109, 106),rgb(60, 170, 166),rgb(65,190,186));
//   padding: 5rem 0;
// }

// .blog-template h1,
// .blog-template h2 {
//   text-align: center;
// }
// .blog-template ul {
//   justify-content: center;
//   margin-top: 2rem;
//   display: flex;
// }
// .blog-template ul li {
//   display: block;
//   padding: 2rem 1.25rem;
//   margin-bottom: 1rem;
//   transition: all 250ms ease;
//   text-align: center;
//   background: none !important;
//   padding: 1rem;
// }

// .blog-template blockquote {
//   background: var(--clr-primary-9);
//   border-radius: var(--radius);
//   padding: 1rem;
//   line-height: 2;
//   color: var(--clr-primary-1);
//   margin: 2rem 0;
// }
// .blog-template pre {
//   background: #222;
//   color: yellow;
//   overflow-x: scroll;
//   padding: 1rem 1.5rem;
//   border-radius: var(--radius);
// }
// .blog-template img {
//   width: 15rem;
//   height: 15rem;
//   margin: 3rem 0;
// }
// .blog-template .section-center {
// padding-top: inherit;
// }
// .blog-template .center-btn {
// margin-top: 1rem;
// }
// /*
// ===============
// Collaborations
// ===============
// */
// .collaborations-section{
//   text-align: center;
// }
// .collaborations-center {
//   justify-content: space-around;
//   display: inline-flex;
//   flex-wrap: wrap;
// }
// .item {
//   display: inline-block;
//   list-style: none;
//   width: 10rem;
// }
// @media (min-width: 900px) {
//   .item {
//     width: 12.5rem;
//   }
// }
// .item a {
//   display: block;
//   padding: 2rem 1.25rem;
//   margin-bottom: 1rem;
//   transition: all 250ms ease;
//   text-align: center;
//   background: none !important;
//   padding: 1rem;
// }
// .item a:hover svg {
//   filter: grayscale(0);
//   opacity: 1;
// }
// :global(.dark) .item a:hover svg {
//   filter: invert(0) hue-rotate(0deg) grayscale(0) drop-shadow(0 0 0.5px #fff) drop-shadow(0 2px px #000) drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));
// }
// @media (prefers-color-scheme: dark) {
//   .item a:hover svg {
//     filter: invert(0) hue-rotate(0deg) grayscale(0) drop-shadow(0 0 0.5px #fff) drop-shadow(0 2px 2px #000) drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));
//   }
// }
// .item svg {
//   height: 4.5rem;
//   display: block;
//   margin: 0 auto 1rem;
//   opacity: 0.6;
//   transition: all 250ms ease;
//   filter: grayscale(1);
// }
// @media (prefers-color-scheme: dark) {
//   .item svg {
//     filter: invert(0.862745) hue-rotate(180deg) grayscale(1);
//   }
// }
// :global(.dark) .item svg {
//   filter: invert(0.862745) hue-rotate(180deg) grayscale(1);
//   opacity: 1;
// }

// /*
// ===============
// Carousel
// ===============
// */
// .reviews-container {
//   background-attachment: fixed;
//   background-position: center;
//   background-image: linear-gradient(56deg, rgba(254, 254, 254, 0.05) 0%, rgba(254, 254, 254, 0.05) 69%,rgba(160, 160, 160, 0.05) 69%, rgba(160, 160, 160, 0.05) 100%),linear-gradient(194deg, rgba(102, 102, 102, 0.02) 0%, rgba(102, 102, 102, 0.02) 60%,rgba(67, 67, 67, 0.02) 60%, rgba(67, 67, 67, 0.02) 100%),linear-gradient(76deg, rgba(169, 169, 169, 0.06) 0%, rgba(169, 169, 169, 0.06) 89%,rgba(189, 189, 189, 0.06) 89%, rgba(189, 189, 189, 0.06) 100%),linear-gradient(326deg, rgba(213, 213, 213, 0.04) 0%, rgba(213, 213, 213, 0.04) 45%,rgba(66, 66, 66, 0.04) 45%, rgba(66, 66, 66, 0.04) 100%),linear-gradient(183deg, rgba(223, 223, 223, 0.01) 0%, rgba(223, 223, 223, 0.01) 82%,rgba(28, 28, 28, 0.01) 82%, rgba(28, 28, 28, 0.01) 100%),linear-gradient(3deg, rgba(20, 20, 20, 0.06) 0%, rgba(20, 20, 20, 0.06) 62%,rgba(136, 136, 136, 0.06) 62%, rgba(136, 136, 136, 0.06) 100%),linear-gradient(200deg, rgba(206, 206, 206, 0.09) 0%, rgba(206, 206, 206, 0.09) 58%,rgba(6, 6, 6, 0.09) 58%, rgba(6, 6, 6, 0.09) 100%),linear-gradient(304deg, rgba(162, 162, 162, 0.07) 0%, rgba(162, 162, 162, 0.07) 27%,rgba(24, 24, 24, 0.07) 27%, rgba(24, 24, 24, 0.07) 100%),linear-gradient(186deg, rgba(166, 166, 166, 0.04) 0%, rgba(166, 166, 166, 0.04) 5%,rgba(210, 210, 210, 0.04) 5%, rgba(210, 210, 210, 0.04) 100%),linear-gradient(90deg, rgb(29, 109, 106),rgb(60, 170, 166),rgb(65,190,186))
// }
// .reviews-container h2, h3, p{
//   color: var(--clr-white)
// }
// .carousel {
//   position: relative;
// }

// .carousel.pointer-event {
//   -ms-touch-action: pan-y;
//   touch-action: pan-y;
// }

// .carousel-inner {
//   position: relative;
//   width: 100%;
//   overflow: hidden;
// }

// .carousel-inner::after {
//   display: block;
//   clear: both;
//   content: "";
// }

// .carousel-item {
//   position: relative;
//   display: none;
//   float: left;
//   padding: 0;
//   width: 100%;
//   margin-right: -100%;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   transition: -webkit-transform 0.6s ease-in-out;
//   transition: transform 0.6s ease-in-out;
//   transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
// }

// @media (prefers-reduced-motion: reduce) {
//   .carousel-item {
//     transition: none;
//   }
// }

// .carousel-item.active,
// .carousel-item-next,
// .carousel-item-prev {
//   display: block;
// }

// .carousel-item-next:not(.carousel-item-left),
// .active.carousel-item-right {
//   -webkit-transform: translateX(100%);
//   transform: translateX(100%);
// }

// .carousel-item-prev:not(.carousel-item-right),
// .active.carousel-item-left {
//   -webkit-transform: translateX(-100%);
//   transform: translateX(-100%);
// }

// .carousel-fade .carousel-item {
//   opacity: 0;
//   transition-property: opacity;
//   -webkit-transform: none;
//   transform: none;
// }

// .carousel-fade .carousel-item.active,
// .carousel-fade .carousel-item-next.carousel-item-left,
// .carousel-fade .carousel-item-prev.carousel-item-right {
//   z-index: 1;
//   opacity: 1;
// }

// .carousel-fade .active.carousel-item-left,
// .carousel-fade .active.carousel-item-right {
//   z-index: 0;
//   opacity: 0;
//   transition: opacity 0s 0.6s;
// }

// @media (prefers-reduced-motion: reduce) {
//   .carousel-fade .active.carousel-item-left,
//   .carousel-fade .active.carousel-item-right {
//     transition: none;
//   }
// }

// .carousel-control-prev,
// .carousel-control-next {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   z-index: 1;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-align: center;
//   align-items: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   width: 15%;
//   color: black;
//   text-align: center;
//   opacity: 0.5;
//   transition: opacity 0.15s ease;
// }

// @media (prefers-reduced-motion: reduce) {
//   .carousel-control-prev,
//   .carousel-control-next {
//     transition: none;
//   }
// }

// .carousel-control-prev:hover, .carousel-control-prev:focus,
// .carousel-control-next:hover,
// .carousel-control-next:focus {
//   text-decoration: none;
//   outline: 0;
//   opacity: 0.9;
// }

// .carousel-control-prev {
//   left: 0;
// }

// .carousel-control-next {
//   right: 0;
// }

// .carousel-control-prev-icon,
// .carousel-control-next-icon {
//   display: inline-block;
//   width: 20px;
//   height: 20px;
//   background: no-repeat 50% / 100% 100%;
// }

// .carousel-control-prev-icon {
//   border-radius: 10px;
//   background-color: black;
//   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
//   background-size: auto;
// }

// .carousel-control-next-icon {
//   border-radius: 10px;
//   background-color: black;
//   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
//   background-size: auto;
// }

// .carousel-indicators {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 15;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-flex-pack: center;
//   justify-content: center;
//   padding-left: 0;
//   margin-right: 15%;
//   margin-left: 15%;
//   list-style: none;
//   color: var(--clr-white);
// }

// .carousel-indicators li {
//   box-sizing: content-box;
//   -ms-flex: 0 1 auto;
//   flex: 0 1 auto;
//   width: 30px;
//   height: 3px;
//   margin-right: 3px;
//   margin-left: 3px;
//   text-indent: -999px;
//   cursor: pointer;
//   background-color: black;
//   background-clip: padding-box;
//   border-top: 10px solid transparent;
//   border-bottom: 10px solid transparent;
//   opacity: .5;
//   transition: opacity 0.6s ease;
// }

// @media (prefers-reduced-motion: reduce) {
//   .carousel-indicators li {
//     transition: none;
//   }
// }

// .carousel-indicators .active {
//   opacity: 1;
// }

// .carousel-caption {
//   margin-right: 15%;
//   bottom: 20px;
//   margin-left: 15%;
//   z-index: 10;
//   padding-top: 20px;
//   padding-bottom: 20px;
//   color:black;
//   text-align: center;
// }

// .review-image-container {
//   border-radius: 100px;
//   max-height: 60vh;
// width: 60%;
// margin: auto;
// }
// .sr-only {
//   display: none;
// }
// @media screen and (min-width: 600px) {
//   .review-image-container {
//     max-height: 60vh;
//   width: 40%;
//   margin: auto;
//   }
//   .carousel-caption {
//     width: 80%;
//     margin: auto;
//   }
// }
// @media screen and (min-width: 900px) {
//   .review-image-container {
//     max-height: 60vh;
//   width: 25%;
//   margin: auto;
//   }
//   .carousel-caption {
//     width: 50%;
//     margin: auto;
//   }
// }
// @media screen and (max-height: 578px) {
//   .review-image-container {
//     max-height: 25%;
//   width: 25%;
//   margin: auto;
//   }
// }
// /*
// ===============
// Lectures
// ===============
// */
// .lecture-card {
//   text-align: -webkit-center;
//   margin-bottom: 5rem;
// }
// .lecture-card h4 {
//   max-width: 500px;
//   color: black;
//   text-align: center;
// }
// @media screen and (max-width: 697px) {
// .lecture-footer div {
// max-width: 89vw;
// height: 300px;
// }
// }
// .whatsapp-btn {
//   background-Color: '#DCDCDC';
//   color: 'black';
// }
// .whatsapp {
//   background-size: contain;
//   background-repeat: no-repeat;
//   bottom: 5%;
//   left: 2%;
//   position: fixed;
//   z-index: 3;
//   width: 5rem;
//   height: 3rem;
// }
// .whatsapp span {
//   opacity: 0.8;
// }

// iframe.disabled {
//   pointer-events: none;
//   cursor: default;
// }
// .TradingView {
//   box-sizing: border-box;
//   height: 49px;
//   width: 100%;
// }

// /* Anchor CSS */
// .anchorArrow{
//   text-align: center;
//   margin-top: -5%;
// }
// .anchorArrow svg {
//   height: 6em;
//   width: 1.5em;
// }
// .bounce {
//   -moz-animation: bounce 2s infinite;
//   -webkit-animation: bounce 2s infinite;
//   animation: bounce 2s infinite;
// }

// @keyframes bounce {
//   0%, 20%, 50%, 80%, 100% {
//       transform: translateY(0);
//   }
//   40% {
//       transform: translateY(-30px);
//   }
//   60% {
//       transform: translateY(-15px);
//   }
// }

// /* Typewrite effect */
// .react-rotating-text-cursor {
//   animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
// }

// @keyframes blinking-cursor {
//   0% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }

// .styles_scroll-to-top__2A70v {
//   right: 12px !important;
// }

// .social-share {
//   justify-content: space-around;
//   display: inline-flex;
//   flex-wrap: wrap;
// }
// .social-share button {
//   margin-right: 1rem;
// }

// .terms-text p{
//   color: black;
// }
// .terms-text {
//   padding-top: 6rem;
// }

// .acsb-trigger {
//   display: none; right: auto; top: auto; bottom: 20px; border-radius: 50%;
// }

// .discount-center {
//   text-align-last: center;
//   width: 100vw;
// }

// .discount-card {
//   padding: 1.5rem;
//   margin-bottom: 1rem;
// }
// .discount-card h4 {
//   color: black;
// }
// .discount-footer {
//   padding: 0.5rem;
// }

// .fadeInRight {
//   animation-delay: 500ms;
// }
// .two {
//   animation-delay: 800ms;
// }
// .three {
//   animation-delay: 1.1s;
// }
// .discount-card .center-btn {
//   margin-top: 0%;
// }

// @media screen and (min-width: 700px) and (max-width: 800px) and (min-height: 976px) and (max-height: 1100px){
// .mainHeroDesc {
//   margin-top: 30%;
// }
// .services-center {
//   column-gap: 1rem;
//   max-width: 95vw;
// }
// .project-img {
//   height: 30rem;
// }
// .about-text p {
// font-size: 1.4rem;
// }
// .projects {
//   padding-top: 7rem;
// }
// }
// @media screen and (min-width: 1000px) and (min-height: 1300px) and (max-width: 1100px) and (max-height: 1400px) {
//   .mainHeroDesc {
//     margin-top: 30%;
//   }
//   .blogs-center {
//     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
// }
// .service {
//   height: 23vh;
// }
// .about-text p {
//   font-size: 1.4rem;
//   }
//   .projects {
//     padding-top: 15rem;
//   }
//   }
//   @media screen and (max-width: 300px) {
//     .mainHeroDesc {
//       padding: 0;
//     }
//   }